<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Niestety wystąpił błąd</h1>
    <p th:text="${exception}"></p>
</body>
</html>