<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<table border="1px">
    <tr>
        <th>Id</th>
        <th>Nazwa produktu</th>
        <th>Stan magazynowy</th>
        <th>Cena</th>
    </tr>
    <tr th:each="product : ${productsList}">
        <td th:text="*{product.id}"></td>
        <td>
            <a th:href="@{/admin/product/}+*{product.id.toString()}">
                <span th:text="*{product.productName}"></span>
            </a>
        </td>
        <td th:text="*{product.stockAmount}"></td>
        <td th:text="*{product.price}"></td>
    </tr>
</table>
</body>
</html>