<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${userRegistrationDTO}">

    <input type="text" th:field="*{firstName}" th:placeholder="Imię">
    <span th:errors="*{firstName}"></span>
    <input type="text" th:field="*{lastName}" th:placeholder="Nazwisko">
    <span th:errors="*{lastName}"></span>
    <input type="text" th:field="*{birthDate}" placeholder="Data urodzenia">
    <span th:errors="*{birthDate}"></span>
    <input type="text" th:field="*{pesel}" th:placeholder="Pesel">
    <span th:errors="*{pesel}"></span>
    <input type="email" th:field="*{email}" placeholder="E-mail">
    <span th:errors="*{email}"></span>
    <input type="password" th:field="*{password}" th:placeholder="Hasło">
    <input type="text" th:field="*{phone}" th:placeholder="Telefon">
    <input type="text" th:field="*{userAddressDTO.zipCode}" placeholder="Kod Pocztowy">
    <input type="text" th:field="*{userAddressDTO.city}" th:placeholder="Miasto">
    <select th:field="*{userAddressDTO.country}">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="country:${countries}" th:value="${country.symbol}" th:text="${country.plName}"></option>
    </select>
    <input type="text" th:field="*{userAddressDTO.street}" th:placeholder="Ulica">
    <label for="preferEmails">Woli emaila?</label>
    <input type="checkbox" th:field="*{preferEmails}" id="preferEmails">
    <button>Wyślij</button>
</form>
</body>
</html>