<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Result</title>
</head>
<body>
<p th:text="'Dziękujemy za rejestrację '+${userEmail}"></p>
</body>
</html>